<div class="row justify-content-center">

    <div class="col-md-6">
        <form class="form-row" [formGroup]="myCourseForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label>Trainee Name : </label><br />
                <input type="text" id="trainee-name" class="form-control" formControlName="traineeName">
            </div>
            <div class="validation">
                <div *ngIf="submitButtonClicked && !myCourseForm.get('traineeName').valid && myCourseForm.get('traineeName').touched">
                    <div *ngIf="myCourseForm.get('traineeName').errors['required']">
                        <small>Trainee name cannot be empty</small>
                    </div>

                    <div *ngIf="myCourseForm.get('traineeName').errors['invalidName'] && !myCourseForm.get('traineeName').errors['required']">
                        <small>Invalid Trainee Name</small>
                    </div>
                </div>
            </div>

            
            <div class="form-group">
                <label>Courses : </label><br />
                <select formControlName="course" class="form-control">
                    <option value="MEAN">MEAN</option>
                    <option value="MERN">MERN</option>
                    <option value="Vue">Vue</option>
                </select>
            </div>
            <div class="validation">
                <div *ngIf="submitButtonClicked && !myCourseForm.get('course').valid && myCourseForm.get('course').touched">
                    <div *ngIf="myCourseForm.get('course').errors['required']">
                        <small>Please select a course</small>
                    </div>
                </div>
            </div>

            <div formGroupName="myDate">
            <div class="form-group">
                <label>Joining Date : </label><br />
                <input type="date" id="joining-date" class="form-control"z formControlName="joiningDate">
            </div>
            <div class="validation">
                <div *ngIf="submitButtonClicked && !myCourseForm.get('myDate.joiningDate').valid && myCourseForm.get('myDate.joiningDate').touched">
                    <div *ngIf="myCourseForm.get('myDate.joiningDate').errors['required']">
                        <small>Joining Date cannot be empty</small>
                    </div>
                </div>
                <div *ngIf="submitButtonClicked && !myCourseForm.get('myDate').valid && myCourseForm.get('myDate').touched">
                    <div *ngIf="myCourseForm.get('myDate').errors['invalidDate']">
                        <small>Joinning Date cannot be less than Course Date</small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Course Date : </label><br />
                <input type="date" id="course-date" class="form-control" formControlName="courseDate">
            </div>
            <div class="validation">
                <div *ngIf="submitButtonClicked && !myCourseForm.get('myDate.courseDate').valid && myCourseForm.get('myDate.courseDate').touched">
                    <div *ngIf="myCourseForm.get('myDate.courseDate').errors['required']">
                        <small>Course Date cannot be empty</small>
                    </div>
                </div>
            </div>
        </div>

            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
            
        </form>
    </div>

</div>